---
import MainLayout from '@/layouts/MainLayout.astro';
import { getSession } from 'auth-astro/server';

export const prerender = false;

const session = await getSession(Astro.request);

const { user } = session ?? {};

console.log({ session });
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<MainLayout>
	<h1 class="text-3xl font-bold text-center mt-10">Bienvenido a AstroStore</h1>
	<pre>
		<code>
			{ JSON.stringify(user)}
		</code>
	</pre>
</MainLayout>